[Unit]
Description=Discord Feed Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/urbanist-feed-bot
EnvironmentFile=/home/pi/urbanist-feed-bot/.env
ExecStart=/usr/bin/python3 /home/pi/urbanist-feed-bot/bot.py
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
